@tailwind base;
@tailwind components;
@tailwind utilities;

div .css-1up7ebe, div .css-1up7ebe:after {
    color: #fcfcfc;
    border-bottom: 1.5px solid #fcfcfc;
}

.css-1up7ebe input {
    font-size: 1.3rem;
}